.nybody {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .register-container {
    background-color: #f8f8f8;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-title {
    color: rgb(0, 0, 0);
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #003b69;
    border-radius: 4px;
    color: #000;
  }
  
  .register-checkbox-label {
    display: block;
    margin-top: 10px;
    text-align: -webkit-match-parent;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
  }
  
  .register-checkbox {
    margin-left: 5px;
  }
  
  .peek-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0074cc;
  }
  
  .peek-button:hover {
    color: #005b9f;
  }
  
  .register-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #005b9f;
  }
  
  .login-link {
    color: #000000;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  