@media (min-width: 1000px){
.dashbody {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .dashboard {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
  }
  .Navbar {
    background-color: #333;
    padding: 10px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .headernav {
    margin: 0;
  }
  
  .dashboard {
    padding-top: 50px; /* Adjust this value based on your Navbar height */
  }
  
  /* Navigation Links */
  .nav-links-container {
    display: flex;
    justify-content: space-between;
    background-color: #34495e;
    padding: 10px;
  }
  
  .nav-links-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-links-container a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  
  /* Expanded Content Styles */
  .expanded-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
  }
  
  /* Active Issues Styles */
  .active-issues-container {
    max-height: 200px; /* Add max height or adjust as needed */
    padding-top: 100px; /* Add scrollbar for overflow */
    background-image: url('../assets/hero-image2.png'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    overflow-x: scroll;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(90%);
  }

  .active-issues-container h3{
    background-color: #fff;
  }
  
  .active-issues-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .active-issue-item {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .active-issue-item:hover {
    background-color: #2c3e50;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
}

@media (min-width: 620px){
  .dashbody {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }
    
    .dashboard {
      background-color: #2c3e50;
      color: white;
      padding: 20px;
    }
    .Navbar {
      background-color: #333;
      padding: 10px;
      color: #fff;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }
    .headernav {
      margin: 0;
    }
    
    .dashboard {
      padding-top: 50px; /* Adjust this value based on your Navbar height */
    }
    
    /* Additional styles for the navigation links, if needed */
    .navbar-dashboard, .navbar-comm {
      margin-right: 20px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
    }
    .nav-links-container {
      display: flex;
      justify-content: space-between;
      background-color: #34495e;
      padding: 10px;
    }
    
    .nav-links-container a {
      color: white;
      text-decoration: none;
      padding: 10px;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .nav-links-container a:hover {
      background-color: #ecf0f1;
      color: #2c3e50;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    
  
    
  
    .expanded-content {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 10px;
    }
    
    .active-issues-container {
      max-height: 200px; /* Add max height or adjust as needed */
      overflow-y: auto;
      padding-top: 100px; /* Add scrollbar for overflow */
    }
    
    .active-issues-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .active-issue-item {
      background-color: #3498db;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    
    .active-issue-item:hover {
      background-color: #fff;
      color: #2c3e50;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
  }

  @media (min-width: 420px){
    .dashbody {
        margin: 0;
        font-family: 'Arial', sans-serif;
      }
      
      .dashboard {
        background-color: #2c3e50;
        color: white;
        padding: 20px;
      }
      .Navbar {
        background-color: #333;
        padding: 10px;
        color: #fff;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
      }
      .headernav {
        margin: 0;
      }
      
      .dashboard {
        padding-top: 100px; /* Adjust this value based on your Navbar height */
      }
      
      /* Additional styles for the navigation links, if needed */
      .navbar-dashboard, .navbar-comm {
        margin-right: 20px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
      }
      .nav-links-container {
        display: flex;
        justify-content: space-between;
        background-color: #34495e;
        padding: 10px;
      }
      
      .nav-links-container a {
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .nav-links-container a:hover {
        background-color: #ecf0f1;
        color: #2c3e50;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
      }
      
    
      
    
      .expanded-content {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 10px;
      }
      
      .active-issues-container {
        max-height: 200px; /* Add max height or adjust as needed */
        overflow-y: auto;
        padding-top: 100px; /* Add scrollbar for overflow */
      }
      
      .active-issues-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .active-issue-item {
        background-color: #3498db;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
      }
      
      .active-issue-item:hover {
        background-color: #fff;
        color: #2c3e50;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
    }
    
    